<ul>
    <li><a [routerLink]="['/map']" [routerLinkActive]="'active-link'">Your location</a></li>
    <li><a [routerLink]="['/watch']" [routerLinkActive]="'active-link'">Watch Your location</a></li>
    <li><a [routerLink]="['/locate']" [routerLinkActive]="'active-link'">Locate</a></li>
    <li><a [routerLink]="['/popup']" [routerLinkActive]="'active-link'">Popup</a></li>
    <li><a [routerLink]="['/shape']" [routerLinkActive]="'active-link'">Shape</a></li>
    <li><a [routerLink]="['/regions']" [routerLinkActive]="'active-link'">Azerbaijan regions</a></li>
</ul>
<router-outlet />
